.hero-img {
  background-image: url("https://images.unsplash.com/photo-1502700807168-484a3e7889d0?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  height: 20rem;
}

.shelf_container {
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
  margin-right: 2rem;
}

.shelf_container #book_filter,
#book_status {
  color: black;
  margin-right: 2rem;
  border: none;
  background-color: transparent;
}

#pagination_controls {
  margin-top: 2rem;
}

#search {
  background-color: transparent;
  border: 0.1rem solid white;
  border-radius: 0.2rem;
  padding: 0.2rem 4rem;
}

#search_button {
  border: 0.1rem solid white;
  padding: 0.2rem 1rem;
}
